<header class="site-header">

  <div class="wrapper">
    <!-- Navigation -->
      <nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
    			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Centre navbar -->
            <div class="navbar-center navbar-brand">
              <a class="navbar-brand" href="/">
                <img id="navbar-title-banner" src="/assets/img/navbar/header.png">
              </a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar">
            <!-- Left-side of navbar -->
            <ul class="nav navbar-nav navbar-left">
    					<!-- About us information -->
    					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
    						<ul class="dropdown-menu">
    							<li class="{% if page.url == "/about/" %}active{% endif %}"><a href="{{ "/about/" | prepend: site.baseurl }}">Who We Are</a></li>
								<li class="{% if page.url == "/about/vision/" %}active{% endif %}"><a href="{{ "/about/vision/" | prepend: site.baseurl }}">Vision</a></li>
    							<li class="{% if page.url == "/about/core-values/" %}active{% endif %}"><a href="{{ "/about/core-values/" | prepend: site.baseurl }}">Core Values</a></li>
    							<li class="{% if page.url == "/about/public-mottos/" %}active{% endif %}"><a href="{{ "/about/public-mottos/" | prepend: site.baseurl }}">Public Mottos</a></li>
    						</ul>
    					</li>
    					<!-- End of about us information -->
              <li class="{% if page.url == "/events/" %}active{% endif %}"><a href="{{ "/events/" | prepend: site.baseurl }}">Events</a></li>
              <li class="{% if page.url == "/philanthropy/" %}active{% endif %}"><a href="{{ "/philanthropy/" | prepend: site.baseurl }}">Philanthropy</a></li>
				<li ></li>
            </ul>

            <!-- Right-side of navbar -->
            <ul class="nav navbar-nav navbar-right">
              <li class="{% if page.url == "/schedule/" %}active{% endif %}"><a href="{{ "/schedule/" | prepend: site.baseurl }}">Schedule</a></li>
    					<!-- Membership information -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membership<span class="caret"></span></a>
                <ul class="dropdown-menu">
    						  <li class="{% if page.url == "/membership/recruitment/" %}active{% endif %}"><a href="{{ "/membership/recruitment/" | prepend: site.baseurl }}">Recruitment</a></li>
    							<li class="{% if page.url == "/membership/faqs/" %}active{% endif %}"><a href="{{ "/membership/faqs/" | prepend: site.baseurl }}">FAQs</a></li>
    	            <li class="{% if page.url == "/membership/expectations/" %}active{% endif %}"><a href="{{ "/membership/expectations/" | prepend: site.baseurl }}">Expectations</a></li>
    						</ul>
              </li>

              <!-- End of membership information -->
              <li class="{% if page.url == "/brothers/" %}active{% endif %}"><a href="{{ "/brothers/" | prepend: site.baseurl }}">Brothers</a></li>
              <li class="{% if page.url == "/contact/" %}active{% endif %}"><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
  </div>
</header>
