/* Site-wide Styling */

/* Navbar styling */
	#navbar-title-banner {
	    top: 0;
	    position: absolute;
	    width: 160px;
	    right: 0;
		left: 0;
    	bottom: 0;
    	margin: auto;
	}

	#nav {
		height: 80px;
		background: rgba(100,100,100,0.4);
		font-size: 130%;
		text-transform: uppercase;
		z-index: 4;
	}

	#nav .container-fluid {
		padding-top: 15px;
		padding-right: 40px;
		padding-left: 0px;
	}

	/* Adds dashed lines on top & below in the nav bar */
	#nav .navbar-default, .navbar-nav {
		border-top: 1px dashed white;
		border-bottom: 1px dashed white;
	}

	/* Nav link colour styling */
	#nav a:link, #nav a:visited {
		color: rgb(255,255,255); /* unvisited & visited link colour */
	}

	#nav a:hover {
	    color: #8D734A; /* hover link colour */
	}

	#nav .live a:link, #nav .live a:visited {
		color: #8D734A;
	}

	#nav .live a:hover {
		color: #FFF;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}

	button {
		position: relative;
		z-index: 2; /* Fixes mobile button clicking */
	}

	/* Dropdown menu header styling */
	#nav .dropHeader a:link, #nav .dropHeader a:visited {
		color: #8D734A;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		padding-left: 0px;
	}

	.navbar-nav > li > .dropdown-menu a:hover {
        background-color: rgba(100,100,100,0.4);
		color: #000;
        text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        padding-left: 20px;
    }

	#nav .dropHeader a:hover {
		color: #000;
		text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
		padding-left: 0px;
	}

	/* Dropdown background changes */
	.navbar-nav > li > .dropdown-menu {
		background-color: rgba(100,100,100,0.4);
	}

/* Background colouring */
	@font-face {
		font-family: bodyFont;
		src: url('/assets/fonts/PlantagenetCherokee.ttf');
	}

	body {
		font-family: bodyFont;
		background-color: black;
		position: relative; /* Enables scroll spy on body */

		/* Adds stroke to text */
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}

	.textContainer {
		position: absolute;
		width: 100%;
		height: 100%;

	}

	.text {
		/* Positions shit */
		z-index: 3;
		position: absolute;
		color: #FFF;

		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;

		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		/* Sets the textbox size */
		width: 440px;
		height: 400px;

		/* Colouring & scrollbar */
		background-color: rgba(0,0,0,0.7);
		text-align: center;
		overflow-y:auto;
	}

	.text span {
		color: #8D734A;
	}

/* ROT13 email obfuscator link styling */
	#obf a:link, #obf a:visited {
		color: #8D734A;
	}

/* Footer styling */
	#footer {
		color: #FFF;

		position: absolute;
		text-align: center;

		z-index: 4;
		top: 96%;
		bottom: 0px;
		left: 20%;
		right: 20%;

		padding-bottom: 15px;
	}

/* Contact page link stylink */
	#contact a:link, #contact a:visited {
		color: #FFF;
	}

	#contact a:hover {
		color: #8D734A;
	}

/* Social Icons */
	.social-icons {
		margin: 0;
		padding: 0;
	}

	.social-icons li {
		list-style: none;
		margin-right: 3px;
		display: inline-block;
	}

	.social-icons li a, a.social-icon {
		width: 28px;
		height: 28px;
		display: block;
		background-position: 0 0;
		background-repeat: no-repeat;
		transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}

	.social-icons li:hover a {
		background-position: 0 -38px;
	}

	.social-icons-color li a {
		opacity: 0;
		background-position: 0 -38px !important;
		-webkit-backface-visibility: hidden; /*For Chrome*/
	}

	.social-icons-color li a:hover {
		opacity: 1;
	}

	.social_facebook {
		background: url(/assets/img/social/facebook.png) no-repeat;
		border:1px solid #000;
	}

	.social_github {
		background: url(/assets/img/social/github.png) no-repeat;
		border:1px solid #000;
	}
	.social_googleplus {
		background: url(/assets/img/social/googleplus.png) no-repeat;
		border:1px solid #000;
	}
	.social_linkedin {
		background: url(/assets/img/social/linkedin.png) no-repeat;
		border:1px solid #000;
	}
	.social_twitter {
		background: url(/assets/img/social/twitter.png) no-repeat;
		border:1px solid #000;
	}
	.social_vimeo {
		background: url(/assets/img/social/vimeo.png) no-repeat;
		border:1px solid #000;
	}
	.social_youtube {
		background: url(/assets/img/social/youtube.png) no-repeat;
		border:1px solid #000;
	}

	.social {
		color: #FFF;

        position: absolute;
        z-index: 4;

        top: 96%;
        bottom: 0px;
        left: 20%;
        right: 20%;
        padding-bottom: 15px;
	}

	.social a {opacity: 0.5;}
	.social a:hover {opacity: 1;}

/* Text link styling */
.text a:visited, .text a:link {
    color: #8D734A;
}

h1, h3, h5 {
	color: #8D734A;
}

.letter p{
	text-align: left;
	margin-left: 1em;
}

.bare {
	/* Positions shit */
	z-index: 3;
	position: absolute;
	color: #FFF;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	/* Sets the textbox size */
	width: 820px;
	height: 600px;

	/* Colouring & scrollbar */
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	overflow-y:auto;
}
